<main class="main">
    <div class="container">
        <div class="grid grid--small">
            <div class="col--1-1">
                <h1 class="t--h1 t--light">НАША КОМАНДА</h1>

                <p>В основе наших достижений лежит понимание, что основное и самое важное преимущество компании – это люди. Сегодня в ITA работает команда талантливых сотрудников. Системные и бизнес-аналитики, разработчики и тестировщики, специалисты по управлению проектами
                    и контролю качества, архитекторы программного обеспечения, переводчики и дизайнеры – каждый из них обладает глубокими знаниями, практическим опытом и стремлением к успеху.</p>

                <p>Сильная команда талантливых разработчиков, богатый опыт работы с крупнейшими международными заказчиками, партнерство с ведущими разработчиками программного обеспечения, выстроенная методология являются неотъемлемыми составляющими успеха ИТ-проектов, реализуемых ITA.</p>

                <ul class="list list--vertical">
                    <li class="list__item">
                        <img src="" alt="" class="f--left">
                        <p>В компании развита корпоративная культура – мощный инструмент,работающий на достижение поставленных целей. Она включает в себя поддержание корпоративного духа и традиций, создание атмосферы доверия и взаимопонимания внутри компании.</p>
                    </li>

                    <li class="list__item">
                        <img src="" alt="" class="f--left">
                        <p>Крепкая команда - одно из наших главных конкурентных преимуществ.Основой своей политики компания "ITA" выбрала создание профессиональной дружной команды, поддерживающей положительный социальный микроклимат в офисе, готовой прийти друг к другу на помощь.</p>
                    </li>

                    <li class="list__item">
                        <img src="" alt="" class="f--left">
                        <p>Тимбилдинговые мероприятия – неотъемлемая часть построения мощной структуры. Мы сочетаем корпоративный отдых с элементами обучения, развивающими тренингами, а иногда и экстремальными событиями. Нам хочется, чтобы в ходе мероприятия сотрудники не только отдохнули, но и проявили способности к творчеству, самовыражению и инициативе. Искра каждого сотрудника направится в мощную энергию развития нашего бизнеса.Сотрудники нашей компании энергичны и мотивированы на достижение высоких результатов.Будучи сертифицированными специалистами, они не останавливаются на достигнутом постоянно совершенствуясь. </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
