<footer class="footer m--t">
    <div class="container container--center">
        <div class="grid">
            <div class="col--lg-1-4 col--md-1-4 col--sm-1-1">
                <a href="/"><img src="content/img/logo.png" title="ITA alliance" alt="ITA alliance" width="150"></a>
                <p class="t--sm t--muted">Мы быстрорастущая аутсорсинговая компания, офшорного программирования</p>
            </div>
            <div class="col--lg-3-4 col--md-3-4">
                <ul class="grid grid--sm hidden--sm">
                    <li class="col--2-10">
                        <ul class="list list--footer">
                            <li><span class="t--bold">О компании</span></li>
                            <li><a href="#" class="">Наша команда</a></li>
                            <li><a href="#" class="">Новости</a></li>
                            <li><a href="#" class="">Вакансии</a></li>
                        </ul>
                    </li>
                    <li class="col--3-10">
                        <ul class="list list--footer">
                            <li><span class="t--bold">Адрес</span></li>
                            <li><a href="#" class="">Республика Беларусь</a></li>
                            <li><a href="#" class="">Ул. Домбровская,9, офис 8.3.3</a></li>
                        </ul>
                    </li>
                    <li class="col--3-10">
                        <ul class="list list--footer">
                            <li><span class="t--bold">Телефоны</span></li>
                            <li><a href="tel:+375173880491" class="">+375-17-388-04-91</a></li>
                            <li><a href="tel:+19172009202" class="">+1-917-200-92-02</a></li>
                            <li><a href="tel:+375173880492" class="">Факс: +375-17-388-04-92</a></li>
                        </ul>
                    </li>
                    <li class="col--2-10">
                        <ul class="list list--footer">
                            <li><span class="t--bold">Почта</span></li>
                            <li><a href="mailto:info@ita-dev.com" class="">info@ita-dev.com</a></li>
                            <li><a href="mailto:sales@ita-dev.com" class="">sales@ita-dev.com</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="m--t-sm">
        <div class="grid">
            <div class="col--1-1 t--c t--muted t--sm">
                <p class="m--v">© 2017 ITA-dev.com</p>
            </div>
        </div>
    </div>
</footer>

<!-- Indicator screen size -->
<div class="indicator"></div>
