<main class="main">
    <div class="container">
        <div class="grid grid--small">
            <div class="col--1-1">
                <h1 class="t--h1 t--light">ВАКАНСИИ</h1>

                <p><img src="" alt=""></p>
                <p>ITA молодая и быстроразвивающаяся компания, мы всегда открыты для нового диалога с молодыми, амбициозными специалистами, мы рады будем видеть Вас в нашей команде.  Для того, чтобы стать сотрудником ITA, выберите интересующую вас вакансию и используйте форму для связи с нами. В течение нескольких дней специалисты отдела по работе с персоналом пригласят вас на собеседование. . Вся процедура занимает не более недели. В том случае, если на сайте вы не находите интересующей вас вакансии, вы можете отправить ваше резюме на наш электронный адрес. Как только у нас появится вакансия, которая соответствует вашим интересам и профессиональному уровню, мы свяжемся с вами.</p>

                <p>
                    <a href="" class="link">Java Разработчик</a>
                </p>
                <p>
                    <a href="" class="link">Ведущий Java Разработчик (Руководитель Команды)</a>
                </p>

            </div>
        </div>
    </div>
</main>
