<section data-ng-controller="homeCtrl">
    <!-- Slider -->
    <div class="owl-carousel slider-main">
        <div class="owl-item slider__item slider__item--1">
            <div class="slider__item--overlay"></div>
            <div class="slider__item__text">
                <div class="container container--center">
                    <div class="grid grid--sm">
                        <div class="col--lg-6-10 col--md-2-3 col--sm-1-1">
                            <p class="slider__item--text-sub">агентства недвижимости</p>
                            <p class="t--h1 t--bold">ESTATE <sup>&#174;</sup></p>
                            <p class="t--h3">- это «новое слово» в работе агентств недвижимости!</p>
                        </div>
                        <div class="col--lg-4-10 col--md-1-3 col--sm-1-1 hidden--sm">
                            <img src="/content/img/slider/estate.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item slider__item slider__item--2">
            <div class="slider__item--overlay"></div>
            <div class="slider__item__text">
                <div class="container container--center">
                    <div class="grid grid--sm">
                        <div class="col--lg-7-10 col--md-2-3 col--sm-1-1">
                            <p class="slider__item--text-sub">управление магазинами</p>
                            <p class="t--h1 t--bold">Streamliner <sup>&#174;</sup></p>
                            <p class="t--h3">– «разложи свои задачи по полочкам» -</p>
                            <!-- <a href="#" class="button--slider m--t-lg">Подробнее</a> -->
                        </div>
                        <div class="col--lg-3-10 col--md-1-3 col--sm-1-1 hidden--sm">
                            <img src="/content/img/slider/nexus-splite.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block block--default">
        <div class="main container container--center">
            <div class="grid">
                <div class="col--1-1 t--c">
                    <h1 class="main__title">Мы разрабатываем программное обеспечение</h1>
                </div>
            </div>
            <ul class="grid grid-col--lg-1-3 grid-col--md-1-3 grid-col--1-1 main__list">
                <li>
                    <i class="icon-tablet"></i>
                    <p>Электронной и <br>мобильной коммерции</p>
                </li>
                <li>
                    <i class="icon-briefcase"></i>
                    <p>Финансового и <br>банковского сектора</p>
                </li>
                <li>
                    <i class="icon-apartment"></i>
                    <p>Агенств <br>недвижемости</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="block block--default">
        <div class="main container container--center">
            <div class="grid">
                <div class="col--1-1 t--c">
                    <h1 class="main__title">Почему мы?</h1>
                </div>
            </div>
            <ul class="grid grid--large main__list--check">
                <li class="col--1-1 col--lg-1-4 col--md-1-2 col--sm-1-1">
                    <i class="icon-done"></i>
                    <p>Резиденты Парка Высоких Технологий</p>
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</span>
                </li>
                <li class="col--1-1 col--lg-1-4 col--md-1-2 col--sm-1-1">
                    <i class="icon-done"></i>
                    <p>Участники клуба Microsoft BizSpark</p>
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</span>
                </li>
                <li class="col--1-1 col--lg-1-4 col--md-1-2 col--sm-1-1">
                    <i class="icon-done"></i>
                    <p>Участники программы Microsoft Partner Network</p>
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</span>
                </li>
                <li class="col--1-1 col--lg-1-4 col--md-1-2 col--sm-1-1">
                    <i class="icon-done"></i>
                    <p>Более 50 проектов успешно запущенными во всем мире</p>
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</span>
                </li>
            </ul>

            <hr class="m--v-lg">
        </div>
    </div>

    <div class="partner block block--gray-light">

        <div class="partner container container--center">
            <div class="partner__title">
                Партнеры
            </div>
            <ul class="partner__list grid grid-col--1-5">
                <li>
                    <img src="/content/img/partner/epam.svg" alt="">
                </li>
                <li>
                    <img src="/content/img/partner/r-style.png" alt="">
                </li>
                <li>
                    <img src="/content/img/partner/microsoft-bizspark.png" alt="">
                </li>
                <li>
                    <img src="/content/img/partner/microsoft-partner.png" alt="">
                </li>
                <li>
                    <img src="/content/img/partner/htp.png" alt="">
                </li>
            </ul>
        </div>
    </div>

</section>
