<main class="main">
    <div class="container">
        <div class="grid grid--small">
            <div class="col--1-1">
                <h1 class="t--h1 t--light">КОМФОРТ В ITA</h1>

                <p>Уютная отмосфера внутри компании, наличие бонусов, - главное условие, и стимул для качественного выполненния работы. ITA стремится поддержать сотрудников и дать стимул для стремительного развития в виде различных поощрений и бонусов. </p>
                <p>Соцпакет ITA включает:</p>

                <ul class="grid grid--small list list--vertical">
                    <li class="list__item col--1-2">
                        <img src="" alt="" class="f--left">
                        <p>Уютный офис с удобным и технически укомплектованным рабочим местом.</p>
                    </li>

                    <li class="list__item col--1-2">
                        <img src="" alt="" class="f--left">
                        <p>Командировки в страны Южной Африки и западной Европы.</p>
                    </li>

                    <li class="list__item col--1-2">
                        <img src="" alt="" class="f--left">
                        <p>Кухня, оборудованная холодильником, кофемашиной, микроволновкой, имеется бутиллированная вода.</p>
                    </li>

                    <li class="list__item col--1-2">
                        <img src="" alt="" class="f--left">
                        <p>Гибкий график работы, 5 Days Off в год, трудовой отпуск.</p>
                    </li>

                    <li class="list__item col--1-2">
                        <img src="" alt="" class="f--left">
                        <p>Митинг рум, где можно в тишине и спокойствии обсудить все детали проекта с коллегой или заказчиком. Для вашего удобства там есть настенная доска, флипчарт, проектор и кондиционер.</p>
                    </li>

                    <li class="list__item col--1-2">
                        <img src="" alt="" class="f--left">
                        <p>Новогодние корпоративные мероприятия по системе +1, подарки сотрудникам, чей стаж в компании составляет +1 год и каждый последующий, подарки ко дню рождения сотрудника и на юбилей компании, новогодние подарки детям.</p>
                    </li>

                    <li class="list__item col--1-2">
                        <img src="" alt="" class="f--left">
                        <p>Белая заработная плата, привязанная к курсу доллара, бонус-премия за лояльность (тринадцатая з.п.), возможность обучения и получения сертификатов за счет компании, компенсация спортивных занятий, курсы английского языка в рабочее время (компенсация 50% стоимости курсов).</p>
                    </li>

                    <li class="list__item col--1-2">
                        <img src="" alt="" class="f--left">
                        <p>Материальная помощь в случае рождения ребенка.</p>
                    </li>
                </ul>

                <p>Для улучшения и расширения социального пакета ITA проводит регулярные опросы сотрудников и их тестирование. Каждые полгода происходит пересмотр существующих систем поощрения и мотивации в сторону их расширения. </p>
            </div>
        </div>
    </div>
</main>
