// out: ../css/main.css, compress: true
@import 'components/variables.less';
// -------------------------------------------

html{
    font-size: 16px;
    line-height: 1;
    font-family: @font-site;
}

body {
    padding-top: @top-menu-height;
}

// Element '.page-wrap'
.page-wrap {
    min-height: 100%;
    margin-bottom: (@main-sticky-footer-height * -1);

    &:after {
        content: "";
        display: block;
    }
}

// Block '.footer'
.footer,
.page-wrap:after {
    height: @main-sticky-footer-height;
}


// Block '.main'
.main {
    padding: @main-padding 0;
}
