// out: ../css/small.css, compress: true


// ---------- Base --------------

@media (max-width: 767px)  {
    body{
        background: pink;
        padding-top: 13px;
    }

    .small{
        &--hidden{
            display: none;
        }

        &--hidden{
            display: none;
        }
    }
}
