// out: ../../css/components/list.css, compress: true
@import 'variables.less';
// Name:            List
// Description:     Defines styles to create layouts with list
//
// Component:       `list__*`
//
// ----------------------------------------------------
// Block '.list'
// ----------------------------------------------------
.list {
    position: relative;

    // -----------------------------------------
    // All modificators
    // -----------------------------------------

    // Modificator '.list.list--footer'
    &&--footer{

        & > li{
            padding: @list-footer-padding;

            & > a{
                color: rgba(0, 0, 0, 0.6);
                transition: all 200ms;

                &:hover{
                    color: rgba(0, 0, 0, 1);
                }
            }
        }
    }

    // Modificator '.list.list--check-apply'
    &&--check-apply{

        // Element '.list.list--check-apply .icon'
        & .icon {
            display: block;
            margin: 0 auto;
            width: @main-list-ckeck-icon-height;
            height: @main-list-ckeck-icon-height;
            border-radius: @main-list-ckeck-icon-height;
            border: 1px solid #ddd;
            text-align: center;
            font-size: 25px;
            line-height: @main-list-ckeck-icon-height;
            color: #01b35f;
        }

        // Element '.list.list--check-apply .text'
        & .text {
            margin: 10px 0 16px;
            font-size: 14px;
            line-height: 18px;
            font-weight: 700;
        }

    }


    // -----------------------------------------
    // All elements
    // -----------------------------------------


}

// --------------------------------------------
// Block '.main-list'
// --------------------------------------------
.main-list {
    text-align: center;

    & > li {
        position: relative;

        & > i {
            display: inline-block;
            width: @main-list-height;
            height: @main-list-height;
            border-radius: @main-list-height;
            background: #fff;
            color: #16A7DB;
            text-align: center;
            font-size: 50px;
            line-height: @main-list-height;
            box-shadow: 0 10px 40px 0 rgba(0,0,0,0.2);
            transition: all 300ms;
        }

        & + li {
            &:before {
                content: '';
                position: absolute;
                left: -70px;
                top: 70px;
                width: 45%;
                height: 4px;
                border-radius: 10px;
                background: #f3f3f3;
            }
        }

        & > p {
            margin: 20px auto 0;
            color: #222222;
            font-size: 16px;
            line-height: 22px;
            font-weight: 700;
        }

        &:hover > i {
            box-shadow: 0 20px 80px 5px rgba(0, 0, 0, 0.2);
        }
    }
}
