// out: ../../css/components/vacancie.css, compress: true
@import 'variables.less';
// Name:            Vacancie
// Description:     Defines styles to create layouts with vacancie
//
// Component:       `vacancie__*`
//
// ---------------------------------------------------
// Block '.vacancie'
// ---------------------------------------------------
.vacancie {

    // Element '.vacancie .vacancie__title'
    & &__title{
        color: #171717;
        font-weight: 500;
        margin: 0 0 5px 0;
    }

    // Element '.vacancie .vacancie__price'
    & &__price{
        border-radius: 200px;
        padding: 0 30px;
        font-size: 0.8rem;
        margin-top: 10px;
    }

    // Element '.vacancie .vacancie__list'
    & &__list{
        font-size: 0.8rem;
        line-height: 1.2rem;

        // Element '.vacanciee .vacancie__list .email'
        & .email{
            border-top: 1px solid #eee;
            text-align: right;
            margin-top: 10px;
            padding-top: 10px;
        }
    }

    // Element '.vacanciee .vacancie__waranty'
    & &__waranty{
        padding: 60px 40px;
        margin-top: 40px;

        // Element '.vacanciee .vacancie__waranty-title'
        &-title{
            font-size: 2rem;
            line-height: 2.6rem;
            font-weight: 300;
            color: #171717;
            margin: 20px 0;
        }

        // Element '.vacanciee .vacancie__waranty-subtitle'
        &-subtitle{
            font-size: 0.7rem;
            color: #F44336;
            font-weight: 500;
        }

        // Element '.vacanciee .vacancie__waranty-text'
        &-text{
            font-size: 0.8rem;
            line-height: 20px;
            color: #bbb;
        }

        // Element '.vacanciee .vacancie__waranty .link'
        & .link{
            color: #777;
        }

        // Element '.vacanciee .vacancie__waranty-list'
        &-list{

            // Element '.vacanciee .vacancie__waranty-list .icon'
            & .icon{
                font-size: 1.2rem;
                color: #bababa;
                margin-right: 10px;
                padding: 10px;
                border: 1px solid #e4e4e4;
                border-radius: 30px;
            }

            // Element '.vacanciee .vacancie__waranty-list .title'
            & .title{
                color: #292929;
                margin: 10px 0;
                font-size: 1.125rem;
                line-height: 1.4rem;
                font-weight: 300;
            }

            // Element '.vacanciee .vacancie__waranty-list .text'
            & .text{
                font-weight: 300;
                padding-left: 56px;
                font-size: 0.8rem;
                line-height: 1.1rem;
                color: #9a9a9a;
            }

            & .list__item{
                margin-bottom: 30px;
            }
        }
    }
}
