<section data-ng-controller="homeCtrl">

    <div class="block block--default">
        <div class="main container container--center">
            <div class="grid">
                <div class="col--1-1 t--c">
                    <h1 class="t--h1 t--light m--v">Мы разрабатываем программное обеспечение</h1>
                </div>
            </div>
            <ul class="grid grid-col--lg-1-3 grid-col--md-1-3 grid-col--1-1 main-list">
                <li class="main-list__item">
                    <i class="main-list__icon icon-tablet"></i>
                    <p class="main-list__text">Электронной и <br>мобильной коммерции</p>
                </li>
                <li class="main-list__item">
                    <i class="main-list__icon icon-briefcase"></i>
                    <p class="main-list__text">Финансового и <br>банковского сектора</p>
                </li>
                <li class="main-list__item">
                    <i class="main-list__icon icon-apartment"></i>
                    <p class="main-list__text">Агенств <br>недвижемости</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="block block--default">
        <div class="main container container--center">
            <div class="grid">
                <div class="col--1-1 t--c">
                    <h1 class="t--h2 t--light">Почему мы?</h1>
                </div>
            </div>
            <ul class="grid grid--large list list--check-apply">
                <li class="col--1-1 col--lg-1-4 col--md-1-2 col--sm-1-1">
                    <i class="icon icon-check"></i>
                    <p class="text">Резиденты Парка Высоких Технологий</p>
                    <small class="t--sm t--muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</small>
                </li>
                <li class="col--1-1 col--lg-1-4 col--md-1-2 col--sm-1-1">
                    <i class="icon icon-check"></i>
                    <p class="text">Участники клуба Microsoft BizSpark</p>
                    <small class="t--sm t--muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</small>
                </li>
                <li class="col--1-1 col--lg-1-4 col--md-1-2 col--sm-1-1">
                    <i class="icon icon-check"></i>
                    <p class="text">Участники программы Microsoft Partner Network</p>
                    <small class="t--sm t--muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</small>
                </li>
                <li class="col--1-1 col--lg-1-4 col--md-1-2 col--sm-1-1">
                    <i class="icon icon-check"></i>
                    <p class="text">Более 50 проектов успешно запущенными во всем мире</p>
                    <small class="t--sm t--muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</small>
                </li>
            </ul>

            <hr class="m--v-lg">
        </div>
    </div>

    <div class="block block--partner">

        <div class="partner container container--center">
            <div class="partner__desc">
                <h3 class="title">
                    Партнеры
                </h3>
                <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>


            <ul class="partner__list grid grid-col--1-5">
                <li>
                    <img src="/content/img/partner/epam.svg" alt="">
                </li>
                <li>
                    <img src="/content/img/partner/r-style.png" alt="">
                </li>
                <li>
                    <img src="/content/img/partner/microsoft-bizspark.png" alt="">
                </li>
                <li>
                    <img src="/content/img/partner/microsoft-partner.png" alt="">
                </li>
                <li>
                    <img src="/content/img/partner/htp.png" alt="">
                </li>
            </ul>
        </div>
    </div>

</section>
